/**********************************************************
  Remove website backend redirection button : Should be
  done in website survey but we won't do a bridge module
  only for this.
  TODO: SmartPeople Fixme - cleaner solution? be my guest!
 **********************************************************/
div.o_frontend_to_backend_nav {
    display: block !important;
}


/**********************************************************
  Remove the empty space above the questions,
  so that editor wont add content there: Content should be within the survey questions.
  TODO: SmartPeople Fixme - cleaner solution? be my guest!
 **********************************************************/

#wrapwrap.o_survey_background.odoo-editor-editable {
    #wrap.o_editable.oe_structure.oe_empty:empty, #wrap.o_editable[data-oe-type=html]:empty {
        display: none !important;
    }
}

